body {
	padding-top: 20px;
}

td {
	overflow: auto;
}

table {
    /*table-layout: fixed;*/
    word-wrap: break-word;
}

select {
	border: 1px solid #BCE8F1;
}

.table td.rightCell {
  text-align: right;
}

.bwIcon {
	color: #505050;
}

.light {
	color: #a0a0a0;
}

.alertIcon {
	color: #999;
}

.sellectBar {
	color: #444;
}

.selectButton {
	background: #f8f8f8;
	/*padding: 1px;*/
}

.space-right {
	padding-right: 10px;
}

.editing {
	color: red;
	padding: 12px;
	border-color: #bce8f1;
}

.cE:focus {
	/*background-color: red;*/
	box-shadow: 4px 4px 2px #888888;
}

span.badge {
	cursor: default;
}